
{% extends 'base.html'%}

{% block content %}
    
<body>
    
    <div class="container-fluid mt-4">
        <div class="card shadow">
            <div class="card-header bg-dark text-white">
                <h5 class="mb-0">Inventario</h5>
            </div>
            
            <div class="card-body">
                <table id="tablaInventario" class="table table-striped table-bordered table-sm nowrap" style="width:100%">
                    <thead class="table-dark">
                        <tr>
                            <th>Ubicación</th>
                            <th>Cod_Ean</th>
                            <th>Cod_Dun</th>
                            <th>Sistema</th>
                            <th>Descripción</th>
                            <th>Categoría</th>
                            <th>Conteo 01</th>
                            <th>Conteo 02</th>
                            <th>Diferencia</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in inventario %}
                        <tr>
                            <td>{{ item.ubicacion }}</td>
                            <td>{{ item.cod_ean }}</td>
                            <td>{{ item.cod_dun }}</td>
                            <td>{{ item.cod_sistema }}</td>
                            <td>{{ item.descripcion }}</td>
                            <td>{{ item.categoria }}</td>
                            <td class="text-end">{{ item.conteo_01 }}</td>
                            <td class="text-end">{{ item.conteo_02 }}</td>
                            <td>{{ item.diferencia }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>
    
<script>
    $(document).ready(function () {
        $('#tablaInventario').DataTable({
            scrollY: '450px',
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            pageLength: 25,
            lengthMenu: [10, 25, 50, 100],
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.13.8/i18n/es-ES.json"
            }
        });
    });
</script>

</body>
{% endblock%}